<div class="upsell-wrapper">
  <h3 class="upsell-header t-center Heading u-h2">BUY IT WITH</h3>
  {% assign handle_arr = handle | split: ',' %}
  <div class="upsell-contents d-flex align-center j-center">
    <div class="upsell-product-grid d-flex align-center">
      {% comment %}{% render 'upsell-product-item', product: product, show_icon: false, is_hidden: true %}{% endcomment %}
      {% for item_handle in handle_arr %}
        {% assign item_handle = item_handle | strip | strip_html %}
        {% assign u_product = all_products[item_handle] %}
        {% assign show_icon = true %}
        {% if forloop.last %}
          {% assign show_icon = false %}
        {% endif %}
        {% render 'upsell-product-item', product: u_product, show_icon: show_icon %}
      {% endfor %}
    </div>
    <div class="btn_wrapper">
      <button class="ButtonGroup__Item Button Button--primary atc-bundle">Add selected to cart</button>
    </div>
  </div>
</div>
