<div class="custom-recharge-widget-wrapper d-hidden">
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign discount_percent = product.selling_plan_groups[0].selling_plans[0].price_adjustments[0].value | plus: 0 %}
  <div class="recharge-container d-flex" data-recharge-container>
    <div class="recharge-block selected" data-type="subscription" data-recharge-block>
      <div class="recharge-block-wrapper">
        <label for="">Subscribe & Save {{ discount_percent }}%</label>
        <div class="plan_price">
          {% assign _percent = 100 | minus: discount_percent %}
          {{ current_variant.price | times: _percent | divided_by: 100.0 | round | money }}
        </div>
      </div>
    </div>
    <div class="recharge-block" data-type="onetime" data-recharge-block>
      <div class="recharge-block-wrapper">
        <label for="">One-time Purchase</label>
        <div class="plan_price">{{ current_variant.price | money }}</div>
      </div>
    </div>
  </div>
  <div class="selling-plan-wrapper">
    <label for="">Delivery Schedule</label>
    <select class="selling-plan">
      {% for plan in product.selling_plan_groups[0].selling_plans %}
          <option value="{{ plan.id }}">{{ plan.options[0]['value'] }}</option>
        </div>
      {% endfor %}
    </select>
  </div>
</div>

<script>
  $(document).ready(function() {
    var timer = setInterval(function() {
      if($(".rc-container-wrapper").length > 0) {
        clearTimeout(timer);
        $('.custom-recharge-widget-wrapper').removeClass('d-hidden');
        $('.recharge-block').click(function() {
          $('.recharge-block').removeClass('selected');
          $(this).addClass('selected');
          var type = $(this).attr('data-type');
          if(type == 'onetime') {
            $('[data-radio-onetime]').click();
            $('.selling-plan-wrapper').addClass('d-hidden');
          }
          else {
            $('[data-radio-subsave]').click();
            $('.selling-plan-wrapper').removeClass('d-hidden');
          }
        })
        $('.selling-plan').change(function() {
          $('.rc_widget__option__plans__dropdown').val($(this).val());
        })
      }
    })
  })
</script>