<div class="rimage">
  {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: image -%}{%- endcapture -%}
  <div class="AspectRatio" style="--aspect-ratio: {{ image.aspect_ratio }}">
    {%- assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="Image--lazyLoad Image--slide{{ image_position | capitalize }}" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ image.alt | escape }}">

    <noscript>
      <img src="{{ image | img_url: '800x' }}" alt="{{ image.alt | escape }}">
    </noscript>
  </div>
</div>