<script>
  if(typeof(Spurit) === 'undefined'){
    var Spurit = {};
  }
  if(!Spurit.RecurringOrderAndSubscriptions){
    Spurit.RecurringOrderAndSubscriptions = {};
  }
  if(!Spurit.RecurringOrderAndSubscriptions.snippet){
    Spurit.RecurringOrderAndSubscriptions.snippet = {};
  }
  if(!Spurit.RecurringOrderAndSubscriptions.snippet.products){
      Spurit.RecurringOrderAndSubscriptions.snippet.products = {};
  }
  Spurit.RecurringOrderAndSubscriptions.snippet.shopId = '746';
  Spurit.RecurringOrderAndSubscriptions.snippet.shopHash = '23f76615a428008255a049fbe2f0bf63';
  Spurit.RecurringOrderAndSubscriptions.snippet.hasCartLabel = false;
  Spurit.RecurringOrderAndSubscriptions.snippet.customerEmail = '{{ customer.email }}';

  if (typeof(Spurit.globalSnippet) === 'undefined' || Object.keys(Spurit.globalSnippet).length === 0){
      Spurit.globalSnippet = {
          shop_currency: '{{ shop.currency }}',
          money_format: '{{ shop.money_format }}',
          cart: {{ cart | json }},
          customer_id: '{{ customer.id }}'
      };
  }

  {% for line_item in cart.items %}
  {% render 'spurit_ros_product_details_snippet', product: line_item.product %}
  {% endfor %}

  {% if product %}
  {% render 'spurit_ros_product_details_snippet', product: product %}
  {% endif %}
  {% if products %}
  {% render 'spurit_ros_products_list_snippet', products: products %}
  {% endif %}

  {% assign pageType = template | split: '.' | first %}
  {% if pageType == 'product' %}
  {% render 'spurit_ros_product_details_snippet', product: product %}
  {% elsif pageType == 'search' %}
  {% paginate search.results %}
  {% render 'spurit_ros_products_list_snippet', products: search.results %}
  {% endpaginate %}
  {% elsif pageType == 'collection' %}
  {% paginate collection.products %}
  {% render 'spurit_ros_products_list_snippet', products: collection.products %}
  {% endpaginate %}
  {%endif%}
</script>

<style>
.spurit-ros__widget [data-editable="general"] {
color: #000000;
font-size: 16px;
font-style: normal;
font-family: inherit;
font-weight: normal;
border-color: #DFE3E8;
border-width: 1px;
border-radius: 0px;
text-decoration: none;
background-color: rgba(255, 255, 255, 0);
}
.spurit-ros__widget [data-editable="discount"] {
color: #000000;
font-size: 16px;
font-style: normal;
font-family: inherit;
font-weight: normal;
text-decoration: none;
}
.spurit-ros__widget [data-editable="main-text"] {
color: #000000;
font-size: 16px;
font-style: normal;
font-family: inherit;
font-weight: normal;
border-color: #333333;
text-decoration: none;
background-color: #333333;
background-image: linear-gradient(45deg, transparent 50%, #000000 50%), linear-gradient(135deg, #000000 50%, transparent 50%);
}
.spurit-ros__widget [data-editable="additional-text"] {
color: #637381;
font-size: 14px;
font-style: normal;
font-family: inherit;
font-weight: normal;
text-decoration: none;
}

</style>

<script src="https://cdn-spurit.com/all-apps/spurit.global-2.x.min.js" async></script>
<script src="https://cdn-spurit.com/shopify-apps/recurring-order-and-subscriptions/common.js" async></script>
<link href="https://cdn-spurit.com/shopify-apps/recurring-order-and-subscriptions/common.css" rel="stylesheet" type="text/css" media="all">
