<div class="upsell-product active {% if is_hidden %}d-hidden{% else %}d-flex{% endif %}" data-id="{{ product.selected_or_first_available_variant.id }}">
  <div class="upsell-product-wrapper">
    <div class="upsell-product-image">{% render 'rimage', image: product.featured_image %}</div>
    <div class="upsell-product-info">
      <div class="upsell-product-title">{{ product.title }}</div>
    </div>
  </div>

  <div class="item-selection active d-flex align-center j-center">
    <div class="icon">
      <svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 236.988 236.988" style="enable-background:new 0 0 236.988 236.988;" xml:space="preserve">
        <polygon class="" points="198.098,24.326 87.543,134.881 38.891,86.229 0,125.121 87.543,212.662 236.988,63.217 "/>
      </svg>
    </div>
    <div class="upsell-product-price">{{ product.price | money }}</div>
  </div>

</div>


{% if show_icon %}
  <div class="icon-plus">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
      <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28H28v11c0,1.104-0.896,2-2,2  s-2-0.896-2-2V28H13.5c-1.104,0-2-0.896-2-2s0.896-2,2-2H24V14c0-1.104,0.896-2,2-2s2,0.896,2,2v10h10.5c1.104,0,2,0.896,2,2  S39.604,28,38.5,28z"/>
    </svg>
  </div>
{% endif %}
