<section class="Section Section--spacingNormal">
  <div class="Container">
    {% if section.settings.title != blank %}
      <header class="SectionHeader SectionHeader--center">
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h2>
      </header>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="icon-grid d-flex j-center">
        {% for block in section.blocks %}
          <div class="icon-grid-item">
            {% render 'rimage', image: block.settings.image %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Icon",
  "class": "shopify-section--bordered featured-icon",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured icon"
    }
  ]
}
{% endschema %}