<section id="section-{{ section.id }}" class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="timeline">
  <div class="Container">
    <div class="Timeline">
      <div class="Timeline__ListItem {% if section.settings.enable_mob_overlay != true %}mob-grid-layout{% endif %}">
        <div {{ section.shopify_attributes }} class="Timeline__Item is-selected {% if section.settings.image_pos == 'right' %}reverse{% endif %}" data-index="0">
          <div class="Timeline__ImageWrapper hide--mobile {% if section.settings.apply_overlay %}Image--contrast{% endif %}" {% if section.settings.image %}style="background: url({{ section.settings.image | img_url: '1x1' }})"{% endif %}>
            {%- if section.settings.image -%}
              <div class="Timeline__Image Image--lazyLoad hide-no-js block-image-{{ section.id }}" data-bgset="{{ section.settings.image | img_url: 'x650' }} [(max-width: 640px)] | {{ section.settings.image | img_url: '1000x' }}"></div>
              <noscript>
                <div class="Timeline__Image" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
              </noscript>
            {%- else -%}
              <div class="Timeline__Image">
                <div class="PlaceholderBackground">
                  {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                  {{ placeholder | placeholder_svg_tag: 'PlaceholderBackground__Svg PlaceholderSvg--dark' }}
                </div>
              </div>
            {%- endif -%}
          </div>

          <div class="Timeline__ImageWrapper hide--desktop">
            {% assign mob_image = section.settings.mob_image | default: section.settings.image %}
            <div class="Timeline__Image Image--lazyLoad hide-no-js block-image-{{ section.id }}" data-bgset="{{ mob_image | img_url: 'x650' }} [(max-width: 640px)] | {{ mob_image | img_url: '1000x' }}" style="padding-bottom:{{ 1 | divided_by: mob_image.aspect_ratio | times: 100 }}%"></div>
            <noscript>
              <div class="Timeline__Image" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
            </noscript>
          </div>

          {%- capture section_inner -%}
            {%- if section.settings.subheading != blank or section.settings.heading != blank -%}
              <header class="Timeline__Header SectionHeader SectionHeader--center">
                {%- if section.settings.subheading != blank -%}
                  <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
                {%- endif -%}

                {%- if section.settings.heading != blank -%}
                  <h2 class="SectionHeader__Heading Heading u-h1 SectionHeader__Heading--emphasize">{{ section.settings.heading | escape }}</h2>
                {%- endif -%}

                {%- if section.settings.content != blank -%}
                  <div class="SectionHeader__Description Rte">
                    {{ section.settings.content }}
                  </div>
                {%- endif -%}
              </header>
            {%- endif -%}
          {%- endcapture -%}

          {%- if section_inner -%}
            <div class="Timeline__Inner">
              {{ section_inner }}
            </div>
          {%- endif -%}
        </div>
      </div>

    </div>
  </div>
</section>

<style>
  #section-{{ section.id }} .Timeline__ListItem {
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "Timeline single",
  "class": "shopify-section--bordered shopify-section--timeline",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Mobile text color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Mobile Image",
      "info": "640 x 640 .jpg recommended"
    },
    {
      "type": "select",
      "options": [
        {
          "label": "Image on left",
          "value": "left"
        },
        {
          "label": "Image on right",
          "value": "right"
        }
      ],
      "default": "left",
      "id": "image_pos",
      "label": "Image position"
    },
    {
      "type": "checkbox",
      "id": "enable_mob_overlay",
      "label": "Contents overlay (mobile)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Apply overlay on image",
      "info": "Only applied on mobile. This can improve text visibility.",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Label",
      "default": "2000",
      "info": "Maximum 20 characters allowed."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Timeline Single"
    }
  ]
}
{% endschema %}